/*This CSS file was created in the command line */
/**/

body {
	border: 16px solid #4f73b3;
	width: 66.6%;
	margin-left: auto;
	margin-right: auto;
}


.date{
	color: #3498db;
	text-transform: uppercase;
	margin-left: 10px;
}

h2 {
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 10px;

}
p {
	margin-right: 10px;
	margin-left: 13px;
}

.firstParagraph {
	border-left: 3px solid #bdb3c7;
	padding-left: 4px;
	padding-top: 0;
}

.lastParagraph {
	padding: 2px;
}

hr{
	color: rgba(79, 115, 179, 0.6);
	background-color: rgba(79, 115, 179, 0.6);
	margin-right: 5px;
	margin-left: 10px;
}