/*This CSS file was created in the command line */
/**/

body {
	border: 20px solid #bdb3c7;
	width: 66.6%;
	margin-left: auto;
	margin-right: auto;
}


.date{
	color: #3498db;
	text-transform: uppercase;
}

h2 {
	color: #2c3e50;
	font-family: "Source Sans Pro";
	margin: 10px;

}
p {
	margin-right: 5px;
	margin-left: 10px;
}

.firstParagraph {
	border-left: 3px solid #bdb3c7;
	padding: 2px;
}

.lastParagraph {
	padding: 2px;
}

hr{
	margin-right: 5px;
	margin-left: 10px;
}